In [42]:
import pandas as pd

# set file path - 1000 record 
# csv_filePath = ["MOCK_DATA1.csv"
#                , "MOCK_DATA2.csv"
#                , "MOCK_DATA3.csv"]

# Filter MOCK_DATA4.csv - only 600 record 
csv_filePath = ["MOCK_DATA4.csv"]

# change variable 
numberOfRecordPickPerSection = 6

# ttlRecordExist = 1000
ttlRecordExist = 600 # per csv file 
splittingValue = 20 # every section have how many record 

# for calculate how many time need to loop per csv file 
value = ttlRecordExist // splittingValue

# for reading input.csv use 
startRow = 0 # always start at 0 ( dont change )
endRow = splittingValue - 1

# for generate new dataframe ( use for output.csv )
nStartRow = 0 # always start at 0 ( dont change )
nEndRow = numberOfRecordPickPerSection - 1

In [43]:
# function declare for pick randam
def pickRandom(startRow, endRow):
    return df.loc[startRow:endRow].sample(n=numberOfRecordPickPerSection)

In [44]:
# first = True # have header and overwirte file 
first = False

for filePath in csv_filePath:
    df = pd.read_csv(filePath)

    # create new dataframe for holding data and after finish select will be used for generate output.csv file 
    newDf = pd.DataFrame(data=None, columns=df.columns)

    print("\n")
    print(filePath)
    
    # for reading input.csv use 
    startRow = 0 # always start at 0 ( dont change )
    endRow = splittingValue - 1
    
    # for generate new dataframe ( use for output.csv )
    nStartRow = 0 # always start at 0 ( dont change )
    nEndRow = numberOfRecordPickPerSection - 1
    
    # looping for random selecting data 
    for x in range(value):
        
        # use pickRandom() to randomly select and insert to new dataframe
        newDf = newDf._append(pickRandom(startRow=startRow, endRow=endRow))
        
        # print(pickRandom(startRow=startRow, endRow=endRow))
        
        # update value 
        startRow = startRow + 20
        endRow = endRow + 20 
    
        nStartRow = nStartRow + 6
        nEndRow = nEndRow + 6

    print(newDf.count())
    
    # check first time 
    if (first):
        # export dataframe to csv file 
        newDf.to_csv('output.csv', mode='w', index=False) # mode w = overwrite the file 
        first = False
    else:
        # export dataframe to csv file 
        newDf.to_csv('output.csv', mode='a', index=False, header=False) # mode a = append the data to existing file

MOCK_DATA4.csv
FlightScheduleID    180
StaffID             180
WorkingHours        180
CheckIn             180
CheckOut            180
dtype: int64

In [45]:
output = pd.read_csv('output.csv')

output

,FlightScheduleID,StaffID,WorkingHours,CheckIn,CheckOut
0,FS0001,S0012,3,7/27/2024 10:42,7/27/2024 13:42
1,FS0001,S0010,8,9/4/2022 20:19,9/5/2022 4:19
2,FS0001,S0013,5,9/11/2023 13:12,9/11/2023 18:12
3,FS0001,S0019,9,11/29/2022 13:18,11/29/2022 22:18
4,FS0001,S0008,4,3/3/2024 0:26,3/3/2024 4:26
...,...,...,...,...,...
1075,FS0180,S0002,2,5/29/2023 11:34,5/29/2023 13:34
1076,FS0180,S0008,3,8/2/2024 7:24,8/2/2024 10:24
1077,FS0180,S0010,8,3/26/2022 1:44,3/26/2022 9:44
1078,FS0180,S0006,5,12/13/2022 10:42,12/13/2022 15:42
1079,FS0180,S0007,8,2/21/2024 20:14,2/22/2024 4:14

In [ ]:
# test getting data 
selectRow = df.loc[0:19] 
# loc [start include : end include]
# iloc [start include : end exclude]

selectRow